
<div class ="container__big-card">
    <div class="big-card__photo">
        <img 
        src="https://i.pinimg.com/originals/e8/e7/92/e8e7920d482b22bfc1103b9b90c4dcf2.jpg" 
        alt="" 
        height="200px"
        srcset=""
        >
    </div>
    <div class="big-card__title">
        <h1><a href="#">Have you seen this wizard?</a></h1>
    </div>
    <div class="big-card__description">
        <p>
                <a href="#">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor enim id massa rutrum, quis eleifend turpis bibendum. Nulla venenatis dignissim tellus, ac 
                cursus arcu efficitur ut. Nunc in lacus in neque ornare convallis. Aenean at dictum justo. Proin tempus dictum nibh, quis dignissim sem feugiat at. Lorem ipsum dolor sit 
                amet, consectetur adipiscing elit. 
            </a>
        </p>
    </div>

</div>
