<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img 
            src="https://i.pinimg.com/236x/60/96/86/609686dee350b06574393c827558291e--action-happy-birthday.jpg" 
            alt="" 
            srcset=""
            >
        </div>
        <div class="small-card__title">
            <h1><a href="#">Dumbledore Daft or Dangerous?</a></h1>
        </div>
    </div>
    <div class="container__small-card-separator">
        <hr>
    </div>
</div>
