.container__small-card {
    width: 600px;

    margin-bottom: 10px;
}

.container__small-card-content{
    display: flex;
    flex-direction: row;
}


.container__small-card-separator > hr {
    border: 1px solid black;
    margin-left: 60px;
}

.small-card__photo > a > img {
    width: 110px;
    min-width: 110px;
    margin-right: 20px;
    margin-left: 60px;
}

.small-card__title {
    display: flex;
    justify-content: center;
    align-items: center;
}