<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card photoCover="https://i.pinimg.com/originals/e8/e7/92/e8e7920d482b22bfc1103b9b90c4dcf2.jpg" 
        cardTitle="Have you seen this wizard?" 
        cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor enim id massa rutrum, 
        quis eleifend turpis bibendum. Nulla venenatis dignissim tellus, ac cursus arcu efficitur ut. Nunc in lacus in neque ornare convallis. Aenean at dictum justo. Proin tempus 
        dictum nibh, quis dignissim sem feugiat at. Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
    </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card photoCover="https://i.pinimg.com/236x/60/96/86/609686dee350b06574393c827558291e--action-happy-birthday.jpg" cardTitle="Dumbledore Daft or Dangerous?"></app-small-card>
        <app-small-card photoCover="http://pm1.narvii.com/7689/b568a3fd20364f0925f527fb87fb3a3110e619a2r1-500-700v2_uhq.jpg" cardTitle="New Headmaster for Hogwarts"></app-small-card>
        <app-small-card photoCover="https://pm1.narvii.com/6841/71e6d2177517d679739de3bc1f5a59c02223f32bv2_hq.jpg" cardTitle="The Boy Who Lies?"></app-small-card>   
    </div>
</div>
