/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #deccb3;
    color: black;
    font-family: 'MingLiU-ExtB';
}

a{
    text-decoration: none;
}